
@font-face {
    font-family: huaWenHuPo;
    src: url("../resource/Fonts/STHUPO.TTF");
}

@font-face {
    font-family: huaWenXingKai;
    src: url("../resource/Fonts/STXINGKA.TTF");
}

@font-face {
    font-family: songTi;
    src: url("../resource/Fonts/AdobeSongStd-Light.otf");
}

@font-face {
    font-family: kaiTi;
    src: url("../resource/Fonts/AdobeKaitiStd-Regular.otf");
}

@font-face {
    font-family: youYuan;
    src: url("../resource/Fonts/SIMYOU.TTF ");
}

#header{
    border:#97846c solid 2px;
    width:96%;
    margin: 2% auto 0;
    padding:1%;
    display:flex ;
    flex-wrap:wrap;
    box-shadow: #a8a8a8 5px 8px 8px;
}

#headImg{
    width:63vw;
    height:35vh;
}

.image{
    width:100%;
    height:100%;
}
#introduce{
    width:27vw;
    height:35vh;
    /*border:red solid 3px;*/
    flex-grow: 0;
    margin-left:2vw;
    display: flex;
    flex-wrap: wrap;
    align-items: end;
}

#selfPhoto{
    /*border: red 2px solid;*/
    width: 7vw;
    height: 7vw;
}


#name{
    /*border: red 2px solid;*/
    width: 19vw;
    height: 7vw;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "huaWenHuPo", "STHUPO", serif;
    font-size: 3vw;
}


#welcome{
    /*border: red 2px solid;*/
    width: 27vw;
    height: 7vw;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "kaiTi", "Adobe 楷体 Std R", serif;
    font-size: 1.5vw;
}

#introduce audio{
    margin: auto;
    width: 70%;
    height: 15%;
}

#mainBody{
    width:60%;
    height:80vh ;
    margin-left:14vw;
    margin-top:5vh;
    /*border:red 2px solid;*/
}

#menu{
    width:12vw;
    height:40vh;
    position:fixed;
    /*border:red 2px solid;*/
    margin-left:1%;
    margin-top:41vh;
    padding: 0;
    z-index:1000;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#navTable{
    width: 12vw;
    height: 12vw;
    margin: 0 auto;
    /*border: red 2px solid;*/
}

.navRow{
    width: 100%;
    height: 50%;
    display: table;
}
.box{
    width: 50%;
    height: 100%;
    display: table-cell;
    /*border: red 1px solid;*/
    vertical-align: middle;
    text-align: center;
    padding: 1px;
}

.navButn{
    width: 90%;
    height: 90%;
    background-color: #e3bd8d; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2.5vw;
    font-family: youYuan, SIMYOU, serif;
    font-weight: bold;
}

#search {
    width: 80%;
    /*margin: auto;*/
    margin-top: 3vh;
    align-items: center;
    /*border:red 2px solid;*/
}

#message{
    width:20vw;
    height:50vh ;
    /*border:red 2px solid;*/
    margin-top:7vh;
    margin-left: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#messageHead{
    width: 85%;
    height: 10%;
    /*border: red 2px solid;*/
    border-radius: 1em 1em 0 0;
    background-color: #e3bd8d;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4d4030;
    font-size: 1.8em;
    font-family: huaWenXingKai, STXINGKA, serif;
}

#messageMain{
    width: 90%;
    height: 75%;
    /*border: red 2px solid;*/
    margin: 4%;
}

#messageFoot{
    width: 50%;
    height: 9%;
    /*border: red 2px solid;*/
    border-radius: 2em;
    background-color: #cfccc9;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4d4030;
    font-size: 1.2em;
    font-family: huaWenXingKai, STXINGKA, serif;
}

#footer{
    width:98%;
    height:10vh ;
    margin: 1vh auto auto;
    /*border:red 2px solid;*/
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: huaWenXingKai, STXINGKA, serif;
    font-size: 140%;
}

a{
    target: new;
    text-decoration: none;
    color: inherit;
}