
@font-face {
    font-family: nameFonts;
    src: url("/resource/Fonts/STHUPO.ttf");
}


@font-face {
    font-family: welcomeFonts;
    src: url("/resource/Fonts/STKAITI.ttf");
}

#header{
    border:#97846c solid 2px;
    width:96%;
    margin: 2% auto 0px;
    padding:1%;
    display:flex ;
    flex-wrap:wrap;
}

#headImg{
    width:63vw;
    height:35vh;
}

.image{
    width:100%;
    height:100%;
}
#introduce{
    width:27vw;
    height:35vh;
    /*border:red solid 3px;*/
    flex-grow: 0;
    margin-left:2vw;
    display: flex;
    flex-wrap: wrap;
    align-items: end;
}

#selfPhoto{
    /*border: red 2px solid;*/
    width: 7vw;
    height: 7vw;
}


#name{
    /*border: red 2px solid;*/
    width: 19vw;
    height: 7vw;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: nameFonts,STHUPO;
    font-size: 3vw;
}


#welcome{
    /*border: red 2px solid;*/
    width: 27vw;
    height: 7vw;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: welcomeFonts,STKAITI;
    font-size: 1.5vw;
}

#mainBody{
    width:60%;
    height:80vh ;
    margin-left:14vw;
    margin-top:5vh;
    border:red 2px solid;
}

#message{
    width:20vw;
    height:55vh ;
    border:red 2px solid;
    /*margin: auto;*/
    margin-top:5vh;
    margin-left: 1vw;
    /*margin-right:1vw;*/
    /*align-self:flex-end;*/
}

#footer{
    width:98%;
    height:10vh ;
    margin: 1vh auto auto;
    border:red 2px solid;
}

#menu{
    width:12vw;
    height:40vh;
    position:fixed;
    /*border:red 2px solid;*/
    margin-left:1%;
    margin-top:41vh;
    padding: 0px;
    z-index:1000;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#navTable{
    width: 12vw;
    height: 12vw;
    margin: 0px auto;
    font-size: 1vw;
    /*border: red 2px solid;*/
}

.navRow{
    width: 100%;
    height: 50%;
    display: table;
}
.box{
    width: 50%;
    height: 100%;
    display: table-cell;
    /*border: red 1px solid;*/
    vertical-align: middle;
    text-align: center;
    padding: 1px;
}

.navButn{
    width: 90%;
    height: 90%;
    background-color: #e3bd8d; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2.5vw;
}

#search {
    width: 80%;
    /*margin: auto;*/
    margin-top: 3vh;
    align-items: center;
    /*border:red 2px solid;*/
}